<div class="contenedor">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Modificar contenido:</p>
                <form method="post" action="/admin/contenido/modificar">
                    <input type="hidden" value="{{contenido.id}}" name="id">
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <textarea name="titulo" id="" class="form-control" cols="30" rows="10"
                                placeholder="Titulo">{{contenido.titulo}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <textarea name="subtitulo" id="" class="form-control" cols="30" rows="10"
                                placeholder="Subtitulo">{{contenido.subtitulo}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <textarea name="cuerpo" id="" class="form-control" cols="30" rows="10"
                                placeholder="Cuerpo">{{contenido.cuerpo}}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="far fa-check-square"></i> Guardar
                        cambios</button>
                </form>
                {{#if error}}
                <div class="alert alert-warning" role="alert">
                    <p>{{message}}</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>