<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="contenido">
                <h3>CONTENIDO</h3>
              
                <hr>

                <div class="contenidoBD">
                    {{#each contenidos}}
                    <figure class="contenidos">

                        <img src="{{imagen}}" alt="{{titulo}}" loading="lazy" >
                        <div class="cont-text">
                            <h4>{{titulo}}</h4>
                            <p class="subtitulo">{{subtitulo}}</p>
                            <a href="/contenidounico/{{id}}">Leer mas...</a>
                        </div>

                    </figure>
                    {{/each}}

                </div>
            </div>
        </div>
    </main>
</div>