<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="contenido">
                <h3>{{contenido.titulo}}</h3>
                <hr>

                <div {{!-- class="contenidoBD" --}}>
                
                    <figure {{!-- class="contenidos" --}}>

                        <img src="{{contenido.imagen}}" alt="{{contenido.titulo}}" loading="lazy" >
                        <div {{!-- class="cont-text" --}}>
                            <h4>{{contenido.titulo}}</h4>
                            <p {{!-- class="subtitulo" --}}>{{contenido.subtitulo}}</p>
                            <p {{!-- class="cuerpo" --}}>{{contenido.cuerpo}}</p>
                        </div>

                    </figure>
                

                </div>
            </div>
        </div>
    </main>
</div>