<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="contenido">
                <h3>{{contenido.titulo}}</h3>
                <hr>

                <div>
                
                    <figure class="contenido-unico">

                        <img src="{{contenido.imagen}}" alt="{{contenido.titulo}}" loading="lazy" >
                        <div>
                            <p class="subtitulo" >{{contenido.subtitulo}}</p>
                            <p class="texto-cuerpo">{{contenido.cuerpo}}</p>
                        </div>

                    </figure>
                

                </div>
            </div>
        </div>
    </main>
</div>